<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="connection.properties"></properties>
    <typeAliases>
       <package name="com.bas.map.model" />
        <!--<typeAlias type="com.bas.map.model.ShapeType" alias="ShapeType"></typeAlias>-->
        <!--<typeAlias type="com.bas.map.model.Shape" alias="Shape"></typeAlias>-->
        <!--<typeAlias type="com.bas.map.model.Coordinate" alias="Coordinate"></typeAlias>-->
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="JNDI">
                <property name="data_source" value="java:/comp/env/jdbc/openlayers"/>
            </dataSource>
        </environment>
        <environment id="test">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="com.bas.map.mapper" />
        <!--<mapper class="com.bas.map.mapper.CoordinateMapper"/>-->
        <!--<mapper class="com.bas.map.mapper.ShapeMapper"/>-->
        <!--<mapper class="com.bas.map.mapper.ShapeTypeMapper"/>-->
    </mappers>
</configuration>